.blog-box {
    padding-bottom: 102px;
    &__title {
        text-align: center;
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        width: 430px;
        margin: 0 auto 29px;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    &__item {
        width: 540px;
    }
    &_links {
        margin-bottom: 7px;
    }
    &__img-link {
        margin-bottom: 19px;
        display: inline-block;
    }
    &__date,
    &__author,
    &__theme {
        font-style: 14px;
        color: #707070;
        font-weight: 600;
    }
    &__item-title {
        color: $title;
        @extend %title-font;
        font-family: Montserrat;
        font-size: 24px;
        line-height: 38px;
        margin-top: 7px;
    }
}