.new-collection {
    padding: 46px 0 104px 0;
    text-align: center;
    &__title {
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        margin-bottom: 25px;
        padding-bottom: 25px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 1px;
            width: 252px;
            background: #6D7278;
        }
    }
    &__descr {
        max-width: 730px;
        margin: 0 auto 27px;
    }
}
